logging:
  level:
    ROOT: INFO

server:
  port: 8082

paradox:
  nakadi:
    consumer:
      nakadiUrl: http://localhost:8080
      nakadiTokenId: nakadi-event-stream-read
      zookeeperBrokers: 127.0.0.1:2181
      defaultConsumerName: default-consumer
      oauth2Enabled : false
      partitionCoordinatorProvider: simple

tokens:
  enableMock: true
  startAfterCreation: true
  accessTokenUri: https://token.example.com

  token-configuration-list:
    - tokenId:  nakadi-event-stream-read
      scopes: nakadi.event_stream.read
